.mainpage {
  color: #c2cad0;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-template-rows: 90px 60px 280px 280px;
  text-overflow: ellipsis;
}

.header {
  grid-column: 1/3;
}

.search {
  grid-column: 1/6;
}

#allgames-container {
  /* padding: 10px; */
}
/* <div>Icons made by <a href="https://www.flaticon.com/<?=_('authors').'/'?>lucy-g" title="Lucy G">Lucy G</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */

/* grid-template-columns: 260px 260px  260px;
grid-template-rows: 90px 280px 280px; */
