.card-img {
    height: 200px;
    width: auto;
}

.card-main {
    color:maroon;
    background-color:rgba(114, 109, 109, 0.3);
    padding: 20px;
    display: inline-block;
    width: 200px;
    height: auto;
    text-align: center;
}