.card-img {
    height: 200px;
    width: auto;
}

.card-main {
    color:#c2cad0;
    background-color:rgba(114, 109, 109, 0.3);
    padding: 20px;
    display: inline-block;
    width: 200px;
    height: auto;
    text-align: center;
    border: #c2cad0 solid 1px;
    border-radius: 10px;
    margin: 10px;
}

.game-title {
    position: relative;
    font-size: 1vw;
}