.user-page {

    display: flex;
    /* grid-template-columns: 150px 150px 150px 150px 150px 150px; */
    overflow: auto;
    white-space: nowrap;
 
}

.user-main {
    padding-left: 300px;
    color: whitesmoke;
}