.user-games {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  background-color: rgba(40, 48, 40, 0.3);
}

.user-main {
  padding-left: 300px;
  color: whitesmoke;
  height: 100vh;
  background-image: url("../../images/UserPage.jpg");
  background-size: 100%;
}

.user-line {
  width: 20%;
  margin-right: 600px;
}
