.main-line {
  width: 30%;
  margin-right: 650px;
}

.game-display {
  padding-left: 280px;
  background-color: #1a1a1d;
  overflow-x: hidden;
  height: 100vh;
}

.flex {
  display: flex;
  flex: right;
}
