@font-face {
  font-family: 'Odachi';
  src: url('Odachi.otf') format('otf');
  font-family: Arkhip;
  src: url('Arkhip_font.ttf')
}

body {
  font-family: "Arkhip"
}

.app-main {
  height: 100vh;
  background-image: url('./images/Image\ 4.jpg');
  background-size: 100%;
}

/* body {
  padding-left: 350px; 
} */
