@font-face {
  font-family: "Odachi";
  src: url("Odachi.otf") format("otf");
  font-family: Arkhip;
  src: url("Arkhip_font.ttf");
}

html {
  font-family: "Arkhip";
  /* height: 100%;
  margin: 0; */
}

.app-main {
  height: 100vh;
  margin: 0;
  background-image: url("./images/Controller.jpg");
  background-size: cover;
  background-position: center;
  /* background-size: 100%; */
}

body {
  margin: 0;
}
